@use 'sizes' as *;

.dashboard {
  max-width: $size-1400;
  margin: 0 auto;
  padding: $size-24;
  display: flex;
  flex-direction: column;
  gap: $size-24;
}

@media (max-width: 47.9375rem) {
  .dashboard {
    padding: $size-16;
    gap: $size-16;
  }
}
