@use 'colors' as *;
@use 'sizes' as *;

.badge {
  display: inline-block;
  padding: $size-2 $size-10;
  border-radius: $size-12;
  font-size: $size-12;
  font-weight: 500;
  color: $color-white;
  white-space: nowrap;
}

.badge--green {
  background-color: $color-success;
}
.badge--red {
  background-color: $color-error;
}
.badge--amber {
  background-color: $color-amber;
}
.badge--grey {
  background-color: $color-grey;
}
.badge--blue {
  background-color: $color-primary;
}
